@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

@font-face {
  font-family: 'Photograph Signature';
  src: url('/fonts/Photograph Signature.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html { scroll-behavior: smooth; } /* Isso faz o scroll deslizar suavemente */